
.flex-container{
  display: flex;
  background-color: white;
  border-bottom: 1px black solid;
}

.logo{

}

.title{
font-size: 14px;
font-weight: bold;
color:MediumAquamarine;
}
.link a {
  font-size: 14px;
  font-weight: bold;
  color:black;
}
